.list-item {
  list-style: none;
  width: 300px;
}

.suggestion-container {
  display: flex;
  justify-content: space-between;
}

.suggestion {
  font-size: 12px;
  color: #475569;
  font-weight: bold;
}

.img {
  width: 25px;
  height: 25px;
}
